# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore environment variable files
.env
.env.*

# Ignore compiled code
*.o
*.so
*.a
*.out

# Ignore build directories
build/
dist/
*.egg-info/

# Ignore IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

embedding-model-test-69bd14ba3494.json